<p>
     <!-- {{user}} => définie dans main.compenent.ts -->
     Hello {{user}}
</p>

<button class="btn btn-success my-3" (click)="userClick()">Click</button>

<p>
     <img style="width: 20%;" src="assets/0.jfif" alt="drole d'image">
</p>

<!-- https://angular.io/guide/attribute-directives -->

<!-- Directive structurelle (*ngFor - * ngIf - *ngSwitch) -->
<div *ngFor="let elem of elements; let i" [ngClass]="{'fond': i % 2 === 0}">
     hello {{ i }}
</div>


<!-- Directive d'attribut ([ngStyle] - [ngClass]) -->
<div [ngClass]="{'fond': color, 'text': true}">Directive d'attribut</div>

<!-- https://angular.io/api/common/DatePipe -->
<!-- https://angular.io/api?type=pipe -->
<!-- le PIPE -->
<div> {{ date | date:"medium" }}</div>